<!DOCTYPE html>
    <html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="lib/font-awesome/web-fonts-with-css/css/fontawesome-all.css">

        <title>RKI | Log ind</title>

        <!---CSS--->
        <link rel="stylesheet" href="css/layout.css" type="text/css"/>

        <!---JQUERY--->
        <script src="lib/jquery/jquery-3.3.1.min.js"></script>
        <script src="js/profileAjax.js"></script>
    </head>
    <body>
        <div th:replace="includes/topMenu::topMenu"></div>
        <div class="row">
            <div class="col-6 logo">
                <img src="lib/images/RKI_logo.png" class="center img-circle-300"/>
            </div>
            <div class="col-6 userinfo">
                <div class="row">
                    <div class="col-6">
                        <label for="fornavn">Fornavn</label>
                        <input type="text" id="fornavn" disabled>
                    </div>
                    <div class="col-6">
                        <label for="efternavn">Efternavn</label>
                        <input type="text" id="efternavn" disabled>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <label for="email">E-mail</label>
                        <input type="text" id="email" disabled>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <label for="telefon">Telefon</label>
                        <input type="text" id="telefon" disabled>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-6">
                        <label for="lokation">Lokationer</label>
                    </div>
                    <div class="col-6">
                        <div id="lokation">

                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-6">
                        <label for="stilling">Stilling</label>
                    </div>
                    <div class="col-6">
                        <input class="role" type="text" id="stilling" disabled>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
