* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    border: 0;
}

html, body {
    background: #eee;
    font-family: "Source Sans Pro",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

h1 {
    color: #333;
    padding-bottom: 1.25rem;
}

h1 strong {
    display: block;
    padding-top: 1.5rem;
}

h2 {
    font-weight: normal;
    border-bottom: 1px solid #333;
    color: #333;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
}

label {
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 10px;
    display: block;
}

input[type=email],
input[type=password]{
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: #007bff;
    font-weight: normal;
}

img {
    display: block;
}

ul {
    list-style-type: none;
}

.container {
    width: 100%;
    padding-top: 0.5rem;
}

.container-fixed {
    padding-top: 0.5rem;
}

.container-raw {
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0.25rem 0.5rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0.25rem 0.5rem;
}

.row:not(:last-child) {
    margin-bottom: 0.5rem;
}

.row .col-1 {
    flex: 0 0 8.33%;
    max-width: 8.33%;
}

.row .col-2 {
    flex: 0 0 16.66%;
    max-width: 16.66%;
}

.row .col-3 {
    flex: 0 0 25%;
    max-width: 25%;
}

.row .col-4 {
    flex: 0 0 33.33%;
    max-width: 33.33%;
}

.row .col-5 {
    flex: 0 0 41.66%;
    max-width: 41.66%;
}

.row .col-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.row .col-7 {
    flex: 0 0 58.33%;
    max-width: 58.33%;
}

.row .col-8 {
    flex: 0 0 66.66%;
    max-width: 66.66%;
}

.row .col-9 {
    flex: 0 0 75%;
    max-width: 75%;
}

.row .col-10 {
    flex: 0 0 83.33%;
    max-width: 83.33%;
}

.row .col-11 {
    flex: 0 0 91.67%;
    max-width: 91.67%;
}

.row .col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

.row .box {
    border-radius: 4px;
    box-shadow: 0 0 1px rgba(0,0,0,.125), 0 1px 3px rgba(0,0,0,.2);
    background-color: #fff;
}

.row .box:not(:last-child) {
    margin-bottom: 0.5rem;
}

.row .box .box-header {
    padding: 0.75rem 1rem;
    border-bottom: 1px solid #eee;
    border-radius: 4px 4px 0 0;
}

.row .box .box-header .box-title {
    font-size: 1.25rem;
    font-weight: 400;
}

.row .box .box-body {
    padding: 1rem;
}

.row .box .box-footer {
    padding: 1rem;
    background: #efefef;
    border-radius: 0 0 4px 4px;
}

.width-1280 {
    max-width: 1280px;
    margin: 0 auto;
}

.login-box {
    max-width: 480px;
    margin: 7% auto;
}

.img-circle-70 {
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
}

.img-circle-40 {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.center {
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-color-dark-grey {
    color: #333;
}

.text-color-white {
    color: #fff;
}

.btn {
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-family: "Source Sans Pro",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 1rem;
}

.btn:not(:disabled) {
    cursor: pointer;
}

.btn-blue {
    background-color: #007bff;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-blue:focus {
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125), 0 0 0 0.2rem rgba(0,123,255,.5);
}

.btn-block {
    width: 100%;
    text-align: center;
}

.pull-right {
    float: right;
}

.padding-0 {
    padding: 0 !important;
}

.padding-1 {
    padding: 0.5rem !important;
}

.padding-2 {
    padding: 1rem !important;
}

.padding-3 {
    padding: 1.5rem !important;
}

.padding-4 {
    padding: 2rem !important;
}

.padding-5 {
    padding: 2.5rem !important;
}

.padding-6 {
    padding: 3rem !important;
}

.block {
    display: block;
}

.margin-left-1 {
    margin-left: 1rem;
}

.padding-top-1 {
    padding-top: 0.5rem !important;
}

.padding-bottom-1 {
    padding-bottom: 0.5rem !important;
}

.font-size-1-25 {
    font-size: 1.25em;
}

.font-size-1 {
    font-size: 1.5em;
}

.font-size-2 {
    font-size: 2em;
}

.bg-blue {
    background-color: #4285F4;
}

.pull-left {
    float: left;
}