<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>RKI | Medarbejderliste</title>

    <!---CSS--->
    <link rel="stylesheet" href="css/layout.css" type="text/css"/>
    <link rel="stylesheet" href="lib/font-awesome/web-fonts-with-css/css/fontawesome-all.css">

    <!---JQUERY--->
    <script src="lib/jquery/jquery-3.3.1.min.js"></script>
    <script src="js/employeeList.js"></script>
</head>
<body>

<div th:replace="/includes/topMenu::topMenu"></div>

<div class="container margin-top-65px">
    <div class="row padding-0">
        <div class="col-2">
            <div class="row padding-0">
                <div class="container">
                    <div>
                        <div>

                                <a href="/RKI/opretmedarbejder" class="btn-green createNewEmployee" th:if="${isAdmin}">Opret Medarbejder</a>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row padding-0">
                <div class="container">
                    <div class="box">
                        <div class="box-body">
                            <form method="post" th:action="@{/medarbejderliste}">
                                <h2>Filtrér Anlæg:</h2>
                                <th:block th:each="location : ${locations}">
                                    <label th:for="'filtercheckbox' + ${location.locationId}"
                                           th:text="${location.locationName}"></label>
                                    <input th:id="'filtercheckbox' + ${location.locationId}" type="checkbox"
                                           name="checkboxesLocation" th:value="${location.locationId}"
                                           th:checked="checked"/> <br/>
                                </th:block>
                                <input name="filterLocations" type="button" value="Filtrér lokationer"
                                       class="btn-green filter"/>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-8 padding-0">
            <div class="box">
                <div class="box-header"><h2>Medarbejderliste</h2></div>
                <div class="box-body">
                    <table id="table" class="list">

                    </table>
                </div>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
</div>
</body>
</html>