<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="lib/font-awesome/web-fonts-with-css/css/fontawesome-all.css">

        <title>RKI | Log ind</title>

        <!---CSS--->
        <link rel="stylesheet" href="css/layout.css" type="text/css" />

        <!---JQUERY--->
        <script src="lib/jquery/jquery-3.3.1.min.js"></script>
    </head>
    <body>
        <div th:replace="includes/topMenu::topMenu"></div>
        <div id="dashboard-week">
            <div class="day">
                <h2 th:text="${weekNames[0]}+' '+${days[0]}+'. '+${months[0]}"></h2>
            </div>
            <div class="day">
                <h2 th:text="${weekNames[1]}+' '+${days[1]}+'. '+${months[1]}"></h2>
            </div>
            <div class="day">
                <h2 th:text="${weekNames[2]}+' '+${days[2]}+'. '+${months[2]}"></h2>
            </div>
            <div class="day">
                <h2 th:text="${weekNames[3]}+' '+${days[3]}+'. '+${months[3]}"></h2>
            </div>
            <div class="day">
                <h2 th:text="${weekNames[4]}+' '+${days[4]}+'. '+${months[4]}"></h2>
            </div>
            <div class="day">
                <h2 th:text="${weekNames[5]}+' '+${days[5]}+'. '+${months[5]}"></h2>
            </div>
            <div class="day">
                <h2 th:text="${weekNames[6]}+' '+${days[6]}+'. '+${months[6]}"></h2>
            </div>
        </div>
    </body>
</html>