<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="lib/font-awesome/web-fonts-with-css/css/fontawesome-all.css">

        <title>RKI | Log ind</title>

        <!---CSS--->
        <link rel="stylesheet" href="css/layout.css" type="text/css" />

        <!---JQUERY--->
        <script src="lib/jquery/jquery-3.3.1.min.js"></script>
    </head>
    <body>
        <div class="container-raw" >
            <div th:replace="includes/topMenu::topMenu"></div>
            <div class="row bg-white box-shadow" id="submenu">
                <div class="col-2 padding-top-1 padding-bottom-1"></div>
                <div class="col-8 padding-1">
                    <ul class="">
                        <li class="pull-left">
                            <a href="/" class="font-size-1-raw text-color-dark-grey padding-1 block margin-right-1 active">
                                <i class="fa fa-calendar-alt"></i> Vagter
                            </a>
                        </li>
                        <li class="pull-left">
                            <a href="" class="font-size-1-raw text-color-dark-grey padding-1 margin-right-1 block">
                                <i class="fa fa-user"></i> Profil
                            </a>
                        </li>
                        <li class="pull-left">
                            <a href="medarbejderliste" class="font-size-1-raw text-color-dark-grey padding-1 block">
                                <i class="fa fa-cog"></i> Indstillinger
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-2 padding-top-1 padding-bottom-1"></div>
            </div>
        </div>
        <div class="container" style="margin-top: 125px;">
            <div class="row">
                <div class="col-2"></div>
                <div class="col-8">
                    <h2>Søndag den. 6 maj 2018 - Idag</h2>
                    <h2>Mandag den. 7 maj 2018 - Imorgen</h2>
                    <h2>Tirsdag den. 8 maj 2018</h2>
                    <h2>Onsdag den. 9 maj 2018</h2>
                    <h2>Torsdag den. 10 maj 2018</h2>
                    <h2>Fredag den. 11 maj 2018</h2>
                    <h2>Lørdag den. 12 maj 2018</h2>
                </div>
                <div class="col-2"></div>
            </div>
        </div>
    </body>
</html>