<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="lib/font-awesome/web-fonts-with-css/css/fontawesome-all.css">

        <title>RKI | Log ind</title>

        <!---CSS--->
        <link rel="stylesheet" href="css/layout.css" type="text/css" />

        <!---JQUERY--->
        <script src="lib/jquery/jquery-3.3.1.min.js"></script>
        <script>
            $(document).ready(function () {
                //$("#profile,#settings").hide();
                $("#shifts,#settings").hide();
                //$("#shifts, #profile").hide();
            });
        </script>
    </head>
    <body>
        <div class="container-raw" >
            <div th:replace="includes/topMenu::topMenu"></div>
            <div class="row bg-white box-shadow" id="submenu">
                <div class="col-2 padding-top-1 padding-bottom-1"></div>
                <div class="col-8 padding-1">
                    <ul class="">
                        <li class="pull-left">
                            <a href="shifts" class="font-size-1-raw text-color-dark-grey padding-1 block margin-right-1 active">
                                <i class="fa fa-calendar-alt"></i> Vagter
                            </a>
                        </li>
                        <li class="pull-left">
                            <a href="profile" class="font-size-1-raw text-color-dark-grey padding-1 margin-right-1 block">
                                <i class="fa fa-user"></i> Profil
                            </a>
                        </li>
                        <li class="pull-left">
                            <a href="settings" class="font-size-1-raw text-color-dark-grey padding-1 block">
                                <i class="fa fa-cog"></i> Indstillinger
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-2 padding-top-1 padding-bottom-1"></div>
            </div>
        </div>
        <div class="container" style="margin-top: 125px;">
            <div class="row" id="dashboard">
                <div class="col-2"></div>
                <div th:replace="dashboard/shifts::shifts"></div>
                <div th:replace="dashboard/profile::profile"></div>
                <div th:replace="dashboard/settings::settings"></div>
                <div class="col-2"></div>
            </div>
        </div>
    </body>
</html>