<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>RKI | Log ind</title>

        <!---CSS--->
        <link rel="stylesheet" href="css/layout.css" type="text/css" />

        <!---JQUERY--->
        <script src="lib/jquery/jquery-3.3.1.min.js"></script>
    </head>
    <body>
        <div class="login-box">
            <div class="login-logo">
                <h1 class="text-center">
                    <img src="https://placehold.it/70x70" class="img-circle-70" />
                    <br/>
                    <strong>Rødovre Idrætsanlæg</strong>
                </h1>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="box">
                            <div class="box-header">
                                <div class="box-title">
                                    Log Ind
                                </div>
                            </div>
                            <div class="box-body">
                                <form method="post">
                                    <label for="login-email">Email:</label>
                                    <input name="email" type="email" placeholder="Indtast din email..." id="login-email" required/>
                                    <label for="login-password">Adgangskode: <a href="forgot-password" class="pull-right">Glemt adgangskode?</a></label>
                                    <input name="password" type="password" placeholder="Indtast din adgangskode..." id="login-password" required/>
                                    <input name="login-submit" type="submit" value="Log ind" class="btn btn-blue btn-block" />
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>