<div class="popup-formular box-body createNewShift" th:fragment="createNewShift" xmlns:th="http://www.w3.org/1999/xhtml">
    <form method="post" th:action="@{/vagtplan}" class="createShiftForm">
        <table class="popup-table">
            <tr>
                <td>Opret Vagt</td>
                <td>
                    <button type="button" class="pull-right bg-white cancelCreateNewShift"><i
                            class="fas fa-times"></i></button>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="comment">Bemærkninger</label>
                    <input id="comment" type="text" placeholder="Indtast Bemærkning..."/>
                </td>
            </tr>
        </table>
    </form>
</div>