<div id="menu" th:fragment="topMenu" xmlns:th="http://www.w3.org/1999/xhtml">
    <script src="js/dropdownTopMenu.js"></script>
    <script src="js/topMenu.js"></script>
    <ul>
        <li>
            <a href="/">
                <i class="fa fa-tachometer-alt"></i>Dashboard
            </a>
        </li>
        <li>
            <a href="vagtplan">
                <i class="fa fa-calendar-alt"></i>Vagtplan
            </a>
        </li>
        <li>
            <a href="medarbejderliste">
                <i class="fa fa-users"></i>Medarbejdere
            </a>
        </li>
        <li>
            <a>Mit navn <i class="fa fa-caret-down"></i></a>
                <div class="dropdown">
                    <a href="/profile">Profil</a>
                    <a href="/settings">Instillinger</a>
                    <a href="/logout">Log ud</a>
                </div>
        </li>
    </ul>
</div>