<div id="menu" th:fragment="topMenu" xmlns:th="http://www.w3.org/1999/xhtml">
    <ul>
        <li>
            <a href="/" class="active">
                <i class="fa fa-tachometer-alt"></i>Dashboard
            </a>
        </li>
        <li>
            <a href="vagtplan">
                <i class="fa fa-calendar-alt"></i>Vagtplan
            </a>
        </li>
        <li>
            <a href="medarbejderliste">
                <i class="fa fa-users"></i>Medarbejdere
            </a>
        </li>
    </ul>
</div>